<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$data.title}-NEWS36524</title>
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/index/js/masonry.pkgd.min.js"></script>
    <script src="/static/index/js/spotlight.bundle.js"></script>
    <script src="/static/index/js/imagesloaded.min.js"></script>    
    <style type="text/css" media="screen">
    .box {
        margin-bottom: 20px;
        float: left;
        width: 220px;
    }

    .box img {
        max-width: 100%;
        border-radius:6px;
    }

    .container {
        padding: 20px;
    }
    </style>
</head>

<body>
    <div id="masonry" class="container">
        <div class="row">
            {volist name="photos" id="vo"}
            <div class="box"><a class="spotlight" href="{$vo}"><img src="{$vo}" alt="{$data.title}"></a></div>
            {/volist}
        </div>
    </div>
    <script type="text/javascript">
    var $container = $('#masonry');
    $container.imagesLoaded(function() {
        $container.masonry({
            itemSelector: '.box',
            gutter: 20,
            isAnimated: true,
        });
    });
    </script>
</body>

</html>